src/data/Rice_Image_Dataset/Arborio
src/data/Rice_Image_Dataset/Basmati
src/data/Rice_Image_Dataset/Ipsala
src/data/Rice_Image_Dataset/Jasmine
src/data/Rice_Image_Dataset/Karacadag
src/data/Rice_Image_Dataset/Kasmati
