src/data/Rice_Image_Dataset/Arborio
src/data/Rice_Image_Dataset/Basmati
src/data/Rice_Image_Dataset/Ipsala
src/data/Rice_Image_Dataset/Jasmine
src/data/Rice_Image_Dataset/Karacadag
src/data/Rice_Image_Dataset/Kasmati
src/data/stanfordcars
src/data/stanford-dogs
src/data/food-101
src/data/CUB_200_2011
**/__pycache__/
src/logs/StanfordCars/epochs0/model.pth
