ftfy 
regex 
tqdm
fvcore
ml_collections
kaggle
opencv-python 
scipy
simplejson
matplotlib
pandas
scikit-learn
gdown
tensorflow>=2.4.0
tensorflow_datasets
tensorflow_addons
submitit==1.2.1
torch==2.0.1
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/MetaCLIP.git